<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"section","className":"section","layout":{"type":"default"}} -->
	<section class="wp-block-group section">
		<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
		<div class="wp-block-group container">
			<!-- wp:query {"queryId":1,"query":{"inherit":true},"layout":{"type":"default"}} -->
			<div class="wp-block-query">
				<!-- wp:post-template -->
				<!-- wp:post-title {"isLink":true,"level":2} /-->
				<!-- wp:post-excerpt /-->
				<!-- /wp:post-template -->

				<!-- wp:query-pagination -->
				<!-- wp:query-pagination-previous /-->
				<!-- wp:query-pagination-next /-->
				<!-- /wp:query-pagination -->

				<!-- wp:query-no-results -->
				<!-- wp:paragraph {"className":"muted"} -->
				<p class="muted">No hay contenido que mostrar.</p>
				<!-- /wp:paragraph -->
				<!-- /wp:query-no-results -->
			</div>
			<!-- /wp:query -->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
