<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"section","className":"page-hero","layout":{"type":"default"}} -->
	<section class="wp-block-group page-hero">
		<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
		<div class="wp-block-group container">
			<!-- wp:pura/profesor-profile {"part":"hero-text"} /-->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","className":"section","layout":{"type":"default"}} -->
	<section class="wp-block-group section">
		<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
		<div class="wp-block-group container">
			<!-- wp:group {"tagName":"article","className":"prof-profile","layout":{"type":"default"}} -->
			<article class="wp-block-group prof-profile">
				<!-- wp:pura/profesor-profile {"part":"photo"} /-->

				<!-- wp:group {"className":"prof-profile__content","layout":{"type":"default"}} -->
				<div class="wp-block-group prof-profile__content">
					<!-- wp:post-content {"layout":{"type":"default"}} /-->
					<!-- wp:pura/profesor-profile {"part":"social"} /-->
				</div>
				<!-- /wp:group -->
			</article>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
